input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.filterHeader {
    padding: 1rem;

    font-size: 18px;
    font-weight: bold;
}

.categoryFilter {
    padding: 1rem;
}

.priceLimitFilter {
    user-select: none;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-size: 14px;
}