@media (min-width: 768px) {
    .goodItem {
        padding: 3rem;
        text-align: center;
        border-bottom: 1px solid peachpuff;
        border-right: 1px solid peachpuff;

        font-weight: lighter;
        font-size: 18px;
    }
}


.textColor {
    color: black;
}