.orderWrapper {
    display: grid;

    grid-template-areas: "id dateUpdated dateUpdated" "status totalCost cancelButton" "comment comment comment";

    grid-template-columns: 4fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-bottom: 1px solid peachpuff;
}

.orderId {
    grid-area: id;

    padding: 0.5rem;
    padding-top: 1rem;
}

.orderDateUpdated {
    grid-area: dateUpdated;

    padding: 0.5rem;
    padding-top: 1rem;
}

.orderStatus {
    grid-area: status;

    padding: 0.5rem;
    padding-top: 1rem;

    font-weight: bolder;
    font-size: 16px;
}

.orderTotalCost {
    grid-area: totalCost;

    padding: 1rem 0.5rem 0.5rem;

    font-weight: bolder;
    font-size: 16px;
}

.orderCancelButton {
    grid-area: cancelButton;
}

.orderComment {
    grid-area: comment;

    padding: 1rem 0.5rem 0.5rem;

    font-weight: lighter;
}