.appWrapper {
    display: grid;

    grid-template-areas:
            "header header header"
            "sidebar content content"
            "footer footer footer";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0;

    font-family: "Roboto";
    height: calc(100vh - 10px);
}

.appWrapperHeader {
    grid-area: header;

    border: 2px solid peachpuff;

    position: sticky;
    padding: 0;
    text-align: right;

    background-color: blanchedalmond;
}

.appWrapperContent {
    grid-area: content;
    background-color: gold;
}

.appWrapperSidebar {
    grid-area: sidebar;

    border-left: 2px solid peachpuff;
    border-right: 1px solid peachpuff;
    border-bottom: 1px solid peachpuff;

    background-color: blanchedalmond;

    text-align: center;

    font-weight: lighter;
    font-size: 14px;
}

.goodFilterPanel {

}